@import "Main.css";

body {
    background-color: rgb(35, 32, 51);
    background-image: url("/assets/background.png");
    background-position: bottom 10px right;
    background-repeat: repeat-x;
    background-attachment: scroll;

}body {
          font-family: sans-serif;
        }
        h1 {
          text-align: center;
        }
        .event-list {
          display: flex;
          justify-content: center;
        }
        .event-item {
          position: relative;
          margin-right: 20px;
        }
        .event-item img {
          width: 300px;
          height: 400px;
          cursor: pointer;
        }
        .event-item .event-info {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: none;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          font-size: 14px;
          padding: 10px;
        }
        .event-item:hover .event-info {
          display: block;
        }
        .event-item .event-info a {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }