@import "Main.css";


body {
    background-color: rgb(35, 32, 51);
    background-image: url("/assets/background.png");
    background-position: bottom 10px right;
    background-repeat: repeat-x;
    background-attachment: scroll;
}
button {
    border-radius: 8px;
    text-align: left;
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 12px;
    width: 100px;
    height: 20px;
    transition: all 5s, background-color 2s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: crimson;
}