@import "Main.css";


body {
    background-color: rgb(35, 32, 51);
    background-image: url("/assets/background.png");
    background-position: bottom 10px right;
    background-repeat: repeat-x;
    background-attachment: scroll;

}
button {
    border-radius: 8px;
    text-align: left;
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 12px;
    width: 100px;
    height: 20px;
    transition: all 5s, background-color 2s;
    cursor: pointer;
    margin: 5px;
}

.product-box {
    background-color: rgb(27, 0, 59);
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.product-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    indent-edge-reset: padding-edge;
}

.product-info {
    display: none;
}

.product-button:hover .product-info {
    display: block;
}
img{
    width: 256px;
    height: 256px;
}
